// Specific CSS for your home-page
h2 {
  margin-bottom: 24px;
}

.home-card-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.cards {
  display: flex;
  margin-bottom: 400px;
  justify-content: space-between;
}

.card {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  border: 1px solid rgb(230,230,230);
  margin-right: 16px;
}

.footer {
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid rgb(247, 247, 247);
  padding: 0px 40px;
  display: flex;
  margin: 0px 20px;
}

.footer a {
  font-size: 30px;
  color: rgb(248, 56, 92);
}

.fas.fa-paw {
    color: #FF395B;
}

.container-home-daan {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navbar-lewagon {
    height: 60px;
    padding-top: 12px;
    z-index: 2000;
}

.home-navbar-menu {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
}

.home-navbar-menu a {
    text-decoration: none;
    color: gray;
}

.home-owner {
    margin: 6px;
    color: black;
}

.home-icon {
    display: flex;
    color: #FF395B;
    margin-left: 20px;
    font-weight: bold;
}

.home-navbar-text {
    margin-left: 20px;
}

.home-banner {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    background-image: url("https://images.unsplash.com/photo-1576201836106-db1758fd1c97?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

.home-banner-text {
    color: black;
    font-weight: bolder;
    padding-top: 120px;
}

.banner-paragraph {
    padding-top: 20px;
    color: white;
}

.home-buttons-links {
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    margin-bottom: 250px;
}

.home-banner-container-text {
    width: 500px;
    padding-left: 30px;
    padding-top: 30px;
}

.btn-outline-danger {
    background-color: white;
}