<div class="footer">
  <p>© 2021 Rent-a-pet, Inc. All rights reserved</p>
  <div class="links">
    <a href="#">
      <i class="fab fa-fw fa-facebook-f"></i>
    </a>
    <a href="#">
      <i class="fab fa-fw fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fab fa-fw fa-instagram"></i>
    </a>
   </div>
</div>
