<div class='navbar-lewagon'>
  <div class='container'>
    <div class='home-icon'>
      <div><i class="fas fa-paw  fa-2x" ></i>
      </div>
      <div class='home-navbar-text'><h3>Rent a pet</h3></div>
    </div>
    <div class='home-navbar-menu'>
      <div class='home-owner'><h5>Become an owner</h3>
      </div>
      <div class='home-btn-avatar'>
        <div class='avatar-bordered'>
        </div>
        <div><i class="fas fa-user-circle fa-2x"></i></div>
      </div>
    </div>
  </div>

  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.animaatjes.nl%2Fhonden-plaatjes%2Fsharpei%2Fhonden-plaatjes-sharpei-215650&psig=AOvVaw0dfE90sx7UF00A_Fz0gHQb&ust=1614179173866000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNiCxpWkgO8CFQAAAAAdAAAAABAT" alt="Dog" height='400px'>
</div>

<h1>P</h1>
<p>Find me in app/views/pages/home.html.erb</p>
