.h1-dashboard {
  text-align: center;
  font-size: 50px;
}

.resizing-title {
  font-size: 32px;
}

.card-dashboard {
  display: flex;
  width: 100%;
  height: 300px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.card-dashboard-image {
  width: 25%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #e6e6e6;
}

.card-dashboard-booking-status {
  width: 20%;
}

.border-status {
  border-bottom: solid 1px grey;
}

.align-center-petbreeddescription {
  text-align: center;
}

.align-right-bookingpetprice {
  text-align: right;
}

.booking-separator {
  border-top: 4px double rgb(248, 56, 92);
}

.pet-breed-font {
  font-size: 20px;
}

