.map{
    // height: 100vh;
}

.pet-card-img{
    background-size: cover;
    background-position: center;
}

.fas .fa-map-marker-alt:hover{
    fill: #FF395B;
}

i:hover{
    background-color: #FF395B;
}